
<div id="over-remittance-list" class="recent-activity my-listing">
    <div class="act-title">
        <h5><span class="header-text">Over-remittance List (25) </span></h5>
        <p>Over-remittances for late termination of DW - Disability Pension (Surviving Spouse), DC - Disability Pension (minor) &<br /> TP - Death Pension (Parent).</p>

        <p class="breadcrumbs">
            <i class="fa fa-link"></i>
            <a href="/Dashboard/Index">Home</a> / <a href="/OverRemittance/Index">Over-remittance Option</a> / <span class="subheader-text">Over-remittance List</span>
        </p>
    </div>
    <div class="row">
        <form class="row hero__form v1 filter listing-filter list-filter">
            @*<div class="dropdown show">
                <a id="bs-dropdown-action" class="btn btn-secondary dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    -- Benefit Status --
                </a>

                <div class="dropdown-menu bs-dropdown-mnu" aria-labelledby="dropdownMenuLink">
                    <a id="bs-all" data-id="0" data-description="-- Benefit Status --" class="dropdown-item" href="" onclick="return dropdownAction(this, 'bs-dropdown-action');">-- Benefit Status --</a>
                    <a id="dw-1" data-id="1" data-description="DW - Disability Pension (Surviving Spouse)" class="dropdown-item" href="" onclick="return dropdownAction(this, 'bs-dropdown-action');">DW - Disability Pension (Surviving Spouse)</a>
                    <a id="dc-2" data-id="2" data-description="DC - Disability Pension (Minor)" class="dropdown-item" href="" onclick="return dropdownAction(this, 'bs-dropdown-action');">DC - Disability Pension (Minor)</a>
                    <a id="tp-3" data-id="3" data-description="TP - Death Pension (Parent)" class="dropdown-item" href="" onclick="return dropdownAction(this, 'bs-dropdown-action');">TP - Death Pension (Parent)</a>
                </div>
            </div>*@
            <div class="bs-dropdown dropdown show"></div>

            <div class="dropdown show">
                <a id="yr-dropdown-action" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    -- Year --
                </a>

                <div class="dropdown-menu yr-dropdown-mnu" aria-labelledby="dropdownMenuLink">
                    <a id="yr-all" data-id="0" data-description="-- Year --" class="dropdown-item" href="" onclick="return dropdownAction(this, 'yr-dropdown-action');">-- Year --</a>
                    <a id="yr-2021" data-id="1" data-description="2021" class="dropdown-item" href="" onclick="return dropdownAction(this, 'yr-dropdown-action');">2021</a>
                    <a id="yr-2020" data-id="1" data-description="2020" class="dropdown-item" href="" onclick="return dropdownAction(this, 'yr-dropdown-action');">2020</a>
                    <a id="yr-2017" data-id="1" data-description="2017" class="dropdown-item" href="" onclick="return dropdownAction(this, 'yr-dropdown-action');">2017</a>
                </div>
            </div>

            <div class="dropdown show">
                <a id="mt-dropdown-action" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    -- Month --
                </a>

                <div class="dropdown-menu mt-dropdown-mnu" aria-labelledby="dropdownMenuLink">
                    <a id="mt-all" data-id="0" data-description="-- Month --" class="dropdown-item" href="" onclick="return dropdownAction(this, 'mt-dropdown-action');">-- Month --</a>
                    <a id="mt-january" data-id="1" data-description="January" class="dropdown-item" href="" onclick="return dropdownAction(this, 'mt-dropdown-action');">January</a>
                    <a id="mt-march" data-id="2" data-description="March" class="dropdown-item" href="" onclick="return dropdownAction(this, 'mt-dropdown-action');">March</a>
                    <a id="mt-april" data-id="3" data-description="April" class="dropdown-item" href="" onclick="return dropdownAction(this, 'mt-dropdown-action');">April</a>
                </div>
            </div>

            <div class="input-search">
                <input id="search-text" type="text" placeholder="Search over-remittances here...">
            </div>
        </form>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">VDMS Number</th>
                        <th scope="col">Beneficiary Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Claim Number</th>
                        <th scope="col">Benefit Code</th>
                        <th scope="col">Amount</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">09736</th>
                        <td>Sappari Guillizzoni</td>
                        <td>40</td>
                        <td>MALE</td>
                        <td>OV-MCO-13-001995</td>
                        <td>DW</td>
                        <td>6,499.00</td>
                        <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">03778</th>
                        <td>Guillermo Button</td>
                        <td>38</td>
                        <td>MALE</td>
                        <td>OW-MCO-04-002377</td>
                        <td>DW</td>
                        <td>1,997.00</td>
                        <td class="text-center"><span class="badge badge-success">Approved</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">16627</th>
                        <td>Mariah Maculangan</td>
                        <td>41</td>
                        <td>FEMALE</td>
                        <td>DA-MCO-12-062881</td>
                        <td>TP</td>
                        <td>0.00</td>
                        <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">07361</th>
                        <td>Valerie Liberty</td>
                        <td>25</td>
                        <td>FEMALE</td>
                        <td>OV-MCO-23-066123</td>
                        <td>DW</td>
                        <td>8,231.00</td>
                        <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">01524</th>
                        <td>Clas Mirano</td>
                        <td>21</td>
                        <td>MALE</td>
                        <td>OV-MCO-15-088123</td>
                        <td>DW</td>
                        <td>2,199.00</td>
                        <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">09826</th>
                        <td>Aurora Valmores</td>
                        <td>43</td>
                        <td>FEMALE</td>
                        <td>OV-MCO-12-927616</td>
                        <td>DC</td>
                        <td>40,530.00</td>
                        <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">04516</th>
                        <td>Flecitus Vitug</td>
                        <td>19</td>
                        <td>MALE</td>
                        <td>OV-MCO-15-078251</td>
                        <td>TP</td>
                        <td>816.00</td>
                        <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">09271</th>
                        <td>Ernesto Torrado</td>
                        <td>14</td>
                        <td>MALE</td>
                        <td>OV-MCO-23-005241</td>
                        <td>DW</td>
                        <td>8,231.00</td>
                        <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">03970</th>
                        <td>Rambunaian Mangingisa</td>
                        <td>32</td>
                        <td>MALE</td>
                        <td>OV-MCO-15-056178</td>
                        <td>DW</td>
                        <td>3,401.00</td>
                        <td class="text-center"><span class="badge badge-success">Approved</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">05962</th>
                        <td>Sherwin Tesoro</td>
                        <td>16</td>
                        <td>MALE</td>
                        <td>OV-MCO-23-066123</td>
                        <td>TP</td>
                        <td>3,412.00</td>
                        <td class="text-center"><span class="badge badge-success">Approved</span></td>
                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-success"><i class="far fa-file-excel"></i> Export to Excel</button>
                    <button type="button" class="btn btn-danger"><i class="far fa-file-pdf"></i> Export to PDF</button>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6">
                    <p class="showing-entries">Showing 1 to 10 of 25 entries.</p>
                </div>
                <div class="col-md-6">
                    <nav aria-label="..." class="pull-right">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><<</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">>></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/overremittance")